body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #3D4F11;
  color: #C7E9A5;
  height: 100%;
}

.navbar {
  background-color: #3D4F11;
  padding: 15px 30px;
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.3rem;
  color: #fff !important;
}

.navbar .btn {
  background-color: #C7E9A5;
  border: none;
  color: #000 !important;
  border-radius: 8px;
  padding: 5px 15px;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.navbar .btn:hover {
  background-color: #A9D27D;
}
/* Header */
.header {
  background-color: #3D4F11;
}

.logo-icon {
  font-size: 1.2rem;
  color: #C7E9A5;
}

.start-btn {
  background-color: #C7E9A5;
  border: none;
  color: #000;
  font-weight: 500;
  border-radius: 8px;
  padding: 6px 16px;
}

/* Hero */
.hero {
  background-color: #3D4F11;
  min-height: 70vh;
}

.hero h1 {
  font-size: 2rem;
}

.hero p {
  color: #C7E9A5;
}

.btn-green {
  background-color: #7D8F3B;
  color: white;
  border: none;
  border-radius: 8px;
  width: 110px;
  height: 60px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn-green:hover {
  background-color: #9EBB56;
  color: #fff;
}

/* Footer */
.footer {
  background-color: #C7E9A5;
}

.footer-logo {
  background-color: #3D4F11;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding: 6px 20px;
  border-radius: 6px;
}

.footer-icon {
  font-size: 1.2rem;
  color: #C7E9A5;
}

.form-container {
  margin-top: 100px;
  text-align: center;
}

.form-container p {
  font-size: 1.1rem;
  color: #C7E9A5;
  margin-bottom: 40px;
}

/* Form */
form label {
  color: #fff;
  font-weight: 400;
  display: block;
  text-align: left;
}

.form-control {
  background-color: #7D8F3B;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  color: #fff;
  font-size: 1rem;
}

.form-control::placeholder {
  color: #e4e4e4;
}

.form-control:focus {
  box-shadow: none;
  background-color: #8CA54B;
  color: #fff;
}

/* Submit Button */
.submit-btn {
  background-color: #C7E9A5;
  border: none;
  color: #000;
  padding: 10px 25px;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #A9D27D;
}
.result-box {
  background-color: #5A6B26;
  color: #fff;
  max-width: 600px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.result-box p {
  font-size: 1.1rem;
}

.warning {
  color: #ff4b4b;
  font-weight: 600;
  font-size: 1rem;
}

.recap {
  background-color: #C7E9A5;
  color: #000;
  font-weight: 500;
  text-align: left;
  line-height: 1.6;
}